--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0
torchvision
torchaudio

timm==1.0.15
scikit-learn==1.6.1
pydicom==3.0.1

pylibjpeg==2.0.1
pylibjpeg-libjpeg==2.3.0
pylibjpeg-openjpeg==2.4.0

numpy
matplotlib
seaborn
tqdm
pillow
